[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jakob K
	email = bluefireolymp@gmail.com
	signingkey = 4509C19969A2248F
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow
    file-decoration-style = box ul

